@model System.Web.Mvc.HandleErrorInfo
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <title></title>
</head>
<body>
    <hgroup>
        <h1>@Model.Exception.Message</h1>
        
    </hgroup>
</body>
</html>

