@model MyPos.Web.ViewModels.OrderStartViewModel


<h2>Add Items To Cart :</h2>
<hr />
<div>
    <input type="hidden" name="name" value="@Model.OrderDate" id="OderDateID" />
    <input type="hidden" name="name" value="@Model.CustomerID" id="CustomerId" />

    <table id="ProductSelect" class="table orderLine1 ">
        <thead>
            <tr>
                <th style="width:20%">Product</th>
                <th style="width:30%">Product Description</th>
                <th style="width:10%">Price</th>
                <th style="width:8%">Quantity</th>
                <th style="width:22%" class="text-center">Subtotal</th>
                <th style="width:10%"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td data-th="Product"><input type="text" id="ProductName" class="form-control text-center " value="" /></td>
                <td data-th="Description"><input type="text" id="ProductDescription" class="form-control text-center " value="" readonly /></td>
                <td data-th="Price"><input type="number" id="ProductPrice" class="form-control text-center " value="" readonly /></td>
                <td data-th="Quantity">
                    <input type="number" id="ProductQuantity" class="form-control text-center ">
                </td>
                <td data-th="Subtotal" class="text-center">
                    <input type="text" id="ProductSubTotal" class="form-control text-center  " value="" readonly>
                </td>
                <td class="actions" data-th="">
                    <input type="button" id="AddItem" value="Add Item" />
                    <input type="hidden" id="ProductId" value="" />
                    <input type="hidden" id="ProductAvailableStock" value="" />
                </td>
            </tr>
        </tbody>
        <tfoot>

        </tfoot>
    </table>
    <hr />


    <table id="myTable" class="table ">
        <thead>
            <tr>
                <th style="width:20%">Product</th>
                <th style="width:30%">Product Description</th>
                <th style="width:10%">Price</th>
                <th style="width:8%">Quantity</th>
                <th style="width:22%" class="text-center">Subtotal</th>
                <th style="width:10%"></th>
            </tr>
        </thead>
        <tbody></tbody>
        <tfoot>
            <input type="button" id="Save" value="Save" />
        </tfoot>
    </table>
    <div id="test"></div>
</div>